#archives {
  padding: 15px;
  .none-archives {
    margin-top: 20px;
    text-align: center;
    color: #999;
  }
  .card-list {
    .card-item {
      background-color: #fff;
      margin-bottom: 15px;
      border-radius: 5px;
      box-shadow: 3px 3px 1px #f1f1f1;
      .card-head {
        padding: 10px 15px;
        height: 24px;
        font-size: 16px;
        display: flex;
        color: #000;
        .card-icon {
          width: 4px;
          height: 18px;
          background-color: #2458FF;
          margin: 2px 5px 0 0;
          border-radius: 2px;
        }
        .card-title {
          margin: 0px;
        }
      }
      .van-list {
        .van-cell {
          font-size: 16px;
          .van-cell__title {
            flex: none;
            margin-right: 50px;
          }
          .van-cell__value {
            word-wrap: break-word;
          }
        }
      }
    }
  }
  .van-loading {
    margin-top: 20px;
    margin-left: calc(50% - 20px);
  }
}