#odp-card-item {
  background-color: #fff;
  margin-bottom: 15px;
  border-radius: 5px;
  .card-head {
    padding: 10px 15px;
    height: 24px;
    font-size: 16px;
    display: flex;
    .card-icon {
      width: 4px;
      height: 18px;
      background-color: #2458FF;
      margin: 2px 5px 0 0;
    }
    .card-title {
      margin: 0px;
    }
  }
  .card-head {
    color: #000;
  }
}