.user-info {
  .head {
    background: url('./../../../public/image/me/meBg@2x.png') no-repeat;
    display: flex;
    flex-direction: column;
    padding: 20px 16px 20px;
    position: relative;
    .avatar {
      margin: 0 auto;
      margin-top: 20px;
      img {
        height: 59px;
        width: 59px;
        border-radius: 50%;
      }
    }
    .info {
      margin: 0 auto;
      text-align: center;
      padding: 10px 16px;
      .name {
        margin-bottom: 12px;
        color: #FFF;
        font-size: 16px;
        height: 16px;
        line-height: 16px;
      }
      .phone {
        height: 12px;
        line-height: 12px;
        font-size: 12px;
        color: #FFF;
      }
    }
    .userMessage {
      position: absolute;
      right: 16px;
      font-size: 14px;
      color: #FFF;
      .u-icon {
        display: inline-block;
        line-height: 20px;
        height: 20px;
        vertical-align: text-bottom;
      }
    }
  }
  .list {
    margin-top: 15px;
    .user-list {
      border-bottom: 1px solid #ebedf0;
      background-color: #fff;
      display: flex;
      padding: 15px;
      .leftIcon {
        width: 20px;
        height: 20px;
        padding-top: 9px;
        img {
          max-width: 100%;
          max-height: 100%;
        }
      }
      .item {
        padding-left: 10px;
        flex: 1;
        .title {
          line-height: 39px;
          color: #666;
          font-size: 14px;
        }
      }
      .icon {
        width: 15px;
        i {
          margin-top: 15px;
          color: #989898;
        }
      }
    }
    .logout {
      font-size: 16px;
      color: #666;
      background-color: #fff;
      margin-top: 30px;
      height: 49px;
      line-height: 49px;
      text-align: center;
    }
  }
}